<h1>Editing component</h1>

<% form_for(@component) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :problem %><br />
    <%= f.text_area :problem %>
  </p>
  <p>
    <%= f.label :points %><br />
    <%= f.text_field :points %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @component %> |
<%= link_to 'Back', components_path %>