%h1
  Editing assignment

- form_for(@assignment) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :duedate
    %br
    = f.date_select :duedate
  %p
    = f.label :components
    %br
    = collection_multiple_select :assignment, :components, Component.all, :id, :id
  %p
    = f.submit 'Update'

= link_to 'Show', @assignment
|
= link_to 'Back', assignments_path
