<h1>Listing graded_components</h1>

<table>
  <tr>
    <th>Points received</th>
    <th>Comments</th>
  </tr>

<% @graded_components.each do |graded_component| %>
  <tr>
    <td><%=h graded_component.points_received %></td>
    <td><%=h graded_component.comments %></td>
    <td><%= link_to 'Show', graded_component %></td>
    <td><%= link_to 'Edit', edit_graded_component_path(graded_component) %></td>
    <td><%= link_to 'Destroy', graded_component, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New graded_component', new_graded_component_path %>