<h1>New graded_component</h1>

<% form_for(@graded_component) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :points_received %><br />
    <%= f.text_field :points_received %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', graded_components_path %>