!!!
%html{ html_attrs }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      Assignments:
      = controller.action_name
    = stylesheet_link_tag 'scaffold'
  %body
    = render :partial => 'layouts/header'
    = render :partial => 'layouts/flashes'
    = yield
